{{define "content"}}

<div class="crumb_nav">
    <a href="/">Home</a> &gt;&gt; Test About Page
</div>
<div class="title">
    <span class="title_icon">
    <img src="/static/images/image-16-1024x561.png" alt="" title="">
    </span>
        About Us
</div>
<div class="feat_prod_box_details">
    <p class="details">
        <img src="/static/images/image-16-1024x561.png" alt="" title="" class="right">
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </p>

</div>
{{end}}